* {
    margin: 4px 3px 4px 3px;
}

body {
    background: linear-gradient(90deg, #FFA500, #FFDD44);
}

#banner {
    width: default;
    height: "auto";
    margin-bottom: 30px;
    border-radius: 12px;
}

h1 {
    background: white;
    text-align: center;
    color: black;
    width: 100%;
    border-radius: 12px;
}

nav {
    margin: 0;
}

#ficha {
    text-decoration: underline;
    font-size: large;
    background-color: white;
    border-radius: 4px;
}

#leg_index {
    text-decoration: underline;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: #242424;
    border-radius: 3px;
    color: white;
}

#field_index {
    background-color: black;
    color: white;
    border-style: double;
    border-color: gray white;
}

#box {
    background-color: black;
    color: white;
    border-style: double;
    border-color: gray white;
}

#quem_somos {
    font-size: large;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#bem_vindo {
    font-size: x-large;
    font-style: italic;
    text-decoration: underline;
    padding-left: 40px;
}

#contato {
    color: lightgrey;
    font-style: italic;
    font-size: small;
}

footer {
    color: lightgrey;
    background-color: black;
    padding: 10px;
    position: sticky;
}

.menu {
    background-color: black;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
    width: 100%;
}

.menu>li {
    position: relative;
    margin-right: 20px;
}

.menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: black;
    border-color: white;
    width: 200px;
    padding: 10px;
    list-style: none;
    top: 90%;
    left: 0;
    z-index: 2;
}

.menu>li:hover>.submenu {
    display: block;
}

.submenu a {
    color: white;
}

.menu a:hover,
.submenu a:hover {
    background-color: rgb(233, 177, 24);
}